body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF2FF;
    font-family: Hanken Grotesk;
}
.card
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
    background-color: white;
}
.card-container{
    display: flex;
    justify-content: space-between;
}
.result{
    width: 50%;
    border-radius: 2rem;
    padding: 1.5rem;
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
 .title{
    color: hsl(241, 100%, 89%);
    
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.circle h1{
    color: white;
    font-size: 4rem;
    position: absolute;
   
    
}
.circle p{
    color:hsl(241, 100%, 89%);
    position: relative;
    margin-top: 7rem;
  
  
}
.result b{
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;

    
}
.info{
    color: hsl(241, 100%, 89%);
    width: 200px;
}
.summary{
    width: 50%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sum-title{
    color: black;
    font-weight: 800;
}
.row1{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(0,100%,67%,0.2);
    margin-bottom: 1rem;
   padding: 1rem 0.5rem;
  
    
}
.row2{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background-color: hsl(39, 100%, 56%,0.2);
    margin-bottom: 1rem;
    
}
.row3{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background-color: hsl(166, 100%, 37%,0.2);
    margin-bottom: 1rem;
    
}
.row4{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background-color: hsl(234, 85%, 45%,0.2);
    margin-bottom: 1rem;
    
}
.R1{
    color:hsl(0, 100%, 67%);
}
.R2{
    color: hsl(39, 100%, 56%);
}
.R3{
    color: hsl(166, 100%, 37%);
}
.R4{
   color: hsl(234, 85%, 45%);
}
.M2
{
    color: black;
}
.M3
{
    color: black;
}
.M4
{
    color: black;
}
.btn{
    margin-top: auto;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    width:100%;
    background:hsl(224, 30%, 27%);
    color: white;
}

